padding-right: 140px;
}

#layout {
#layout,#layout2 {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
@@ -25,14 +25,41 @@ p {
  z-index: 5;
}

#thank {
  display: none;
  position: fixed;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  top: 35%;
  bottom: 35%;
  left: 20%;
  right: 20%;
  z-index: 6;
  padding: 40px 0px 40px 0px;
  overflow-y: scroll;
}

#thank p {
  text-align: center;
  font: normal normal normal 34px/46px Segoe UI;
  color: #707070;
  margin: 0px;
}

#thank .gbold {
  font: normal normal 600 48px/64px Segoe UI;
  color: #689F38;
  margin-bottom: 30px;
}

#popup {
  display: none;
  position: fixed;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #000000A6;
  border: 1px solid #707070;
  border-radius: 10px;
  opacity: 1;
  top: 7%;
  bottom: 7%;
  left: 20%;
@@ -46,6 +73,10 @@ p {
  display: none;
}

#thank::-webkit-scrollbar {
  display: none;
}

#popup img {
  height: 45px;
}